{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block page_title %}Card Game{% endblock %}

{% block content %}
    <h1>Kortlekens kort:</h1>

    <div class="deck">
    {% for card in drawCard %}
        {% set suit = card|slice(6, 1) %}
        {% if suit == 'C' %}
            <div class="card-deck diamonds">{{ card|raw }}</div>
        {% elseif suit == 'B' %}
            <div class="card-deck hearts">{{ card|raw }}</div>
        {% elseif suit == 'D' %}
            <div class="card-deck clovers">{{ card|raw }}</div>
        {% elseif suit == 'A' %}
            <div class="card-deck spades">{{ card|raw }}</div>
        {% endif %}
    {% endfor %}
    </div>

    <h3>Antal kort kvar i leken: {{ cardLeft }}</h3>

    {% include 'card/deck_nav.html.twig' %}
    
{% endblock %}
